@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/*@font-face {
  font-family: "nome font";
  font-weight: 500;
  src:
    url("../fonts/nome_font.woff2") format("woff2"),
    url("../fonts/nome_font.woff") format("woff"),
    url("../fonts/nome_font.otf") format("otf");
}*/
